<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top" data-controller="navbar"
  data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Messages</a>
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="mt-3">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Accordion Item #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Accordion Item #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Accordion Item #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
        </div>
      </div>
    </div>
  </div>
</div>

<p class="mt-3">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in imperdiet augue, vel tempus nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas vulputate mauris eu turpis molestie auctor. Vivamus id orci fermentum, fringilla ante a, viverra orci. Pellentesque eget condimentum nulla. Sed mollis metus odio, sit amet facilisis quam feugiat at. Vestibulum luctus tincidunt sem sit amet maximus. Suspendisse venenatis dictum purus, eget commodo risus varius ut. Aliquam porttitor lorem id mollis viverra. Maecenas tempor posuere dignissim.

Nulla eu lectus pharetra, suscipit dui ut, hendrerit risus. Curabitur lorem risus, efficitur nec interdum egestas, volutpat eu augue. Nulla facilisi. Fusce nec ipsum eu dolor consequat varius. Aenean accumsan lorem velit, ut pellentesque urna pretium eget. Aliquam cursus pulvinar lectus vulputate consequat. Vivamus varius urna vel augue gravida, ut ornare est sollicitudin. Donec sed est hendrerit, viverra augue a, interdum nisl.

Morbi in ex finibus, vehicula lacus at, lacinia mauris. Integer eu rhoncus odio. Suspendisse sollicitudin volutpat vulputate. Etiam magna justo, tincidunt sed mattis eget, convallis vel justo. Curabitur consectetur rutrum hendrerit. Suspendisse sapien tellus, luctus eget sagittis et, cursus sit amet augue. In dapibus gravida laoreet.

Curabitur consequat felis ut leo rhoncus gravida. Curabitur eleifend arcu eu mauris consectetur pretium. Cras tempor sed lorem eu aliquet. Pellentesque ultrices dolor at diam rutrum, vel tincidunt nibh scelerisque. Nulla congue fermentum mattis. Vivamus dui felis, aliquam at elit ac, tempor ultrices nulla. Curabitur at cursus ligula, nec gravida nunc. Morbi in sapien eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec mollis est ullamcorper ex egestas, sit amet venenatis nisi convallis. Ut sollicitudin feugiat sodales. Sed quis viverra augue. Duis vulputate nunc ac urna malesuada efficitur. Fusce finibus eget elit nec mollis.

Maecenas viverra commodo arcu, ut pharetra dolor. Vivamus elit quam, lacinia id luctus ac, rutrum non arcu. Mauris ut libero a lacus hendrerit ultrices nec vulputate ligula. Curabitur hendrerit, urna vitae suscipit consectetur, odio libero lacinia lorem, sed egestas orci urna a orci. Integer a quam tempor, dapibus justo quis, condimentum lacus. Nulla rutrum tempor lorem sit amet euismod. Aliquam porta quis dolor ac euismod. Etiam aliquam dolor nec massa venenatis elementum. Praesent vel tellus posuere, luctus arcu vel, commodo felis. Cras efficitur, dolor sodales porta tincidunt, nibh risus blandit justo, vitae lobortis leo turpis ut magna. Proin elit elit, rhoncus at ullamcorper ac, dapibus sed nulla.

Ut sollicitudin libero non vehicula iaculis. Morbi congue ipsum eget erat accumsan, et commodo elit ullamcorper. Sed efficitur nisi sed est scelerisque feugiat. Nullam velit nulla, laoreet non metus sed, eleifend ultrices libero. Fusce enim mi, consequat eu arcu nec, sagittis efficitur neque. Curabitur erat dui, molestie eu enim non, porttitor tristique dui. Donec nulla urna, fringilla eget sollicitudin quis, consectetur ac orci. Sed gravida dolor congue consectetur semper. Suspendisse et aliquet justo.

Donec ligula elit, dapibus in quam at, pretium eleifend arcu. Nullam laoreet dui condimentum, feugiat justo vitae, euismod lorem. Pellentesque a odio ac quam maximus aliquam. Etiam quis commodo eros, et auctor est. Vestibulum dignissim augue in nisl malesuada, eget dignissim quam maximus. Phasellus elementum tortor arcu, nec molestie lacus lacinia at. Nam consectetur dolor egestas, vehicula sem ac, dictum leo.

Nulla finibus laoreet dignissim. Sed dapibus sed felis sed sagittis. Proin imperdiet viverra sollicitudin. Maecenas convallis sit amet leo nec ultrices. Aliquam fermentum est eget eros venenatis, auctor efficitur felis efficitur. Proin vulputate sem non justo bibendum tincidunt. Proin id sem nec nisi malesuada sollicitudin ut nec nisi. Donec vel accumsan ligula. Vestibulum nec iaculis enim. Morbi laoreet, nisi ut scelerisque viverra, diam lorem tincidunt risus, at convallis turpis mauris sed justo. Donec pharetra, augue id posuere convallis, enim ligula lacinia est, ac sodales eros dolor ut leo. Aenean ac vestibulum mauris. Pellentesque fermentum nunc felis, eget euismod neque euismod quis. Curabitur libero enim, eleifend in metus eu, elementum pellentesque arcu. Vestibulum id consequat est, sit amet egestas felis.

Sed vestibulum ligula a convallis pretium. Nam et ante in enim imperdiet pharetra. Vestibulum maximus ante eget dui porta lacinia. Integer hendrerit eget turpis nec maximus. Phasellus egestas pharetra libero, sed dictum nisi tempus nec. Morbi vehicula, tortor quis commodo consequat, diam lectus venenatis felis, quis pulvinar erat velit nec mi. Proin facilisis ante vulputate odio pulvinar dignissim. Duis sollicitudin suscipit mi id pretium. Pellentesque vehicula non turpis id facilisis. Praesent sed ex sit amet diam mattis vestibulum.

Donec sodales lorem id vestibulum aliquam. Suspendisse vehicula sem elit, quis fermentum eros dictum vel. Nulla eu lacinia nibh, quis scelerisque massa. Nullam sed tristique ipsum. Nam finibus aliquam nulla nec fermentum. Etiam laoreet lorem ut semper tincidunt. Pellentesque euismod tortor sed lacus congue, in mollis nisi aliquet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque sit amet urna augue. Vestibulum molestie turpis sit amet euismod ornare.

Vestibulum sed euismod magna. Maecenas pellentesque posuere dui a commodo. Suspendisse consectetur ultricies lectus, quis suscipit neque. Vestibulum mattis dictum urna, ac faucibus libero fringilla nec. Integer quis ipsum vel lectus placerat placerat. Curabitur efficitur nisi erat, vitae sagittis velit lobortis pretium. In id vulputate arcu. Proin dignissim justo eu nulla sagittis, sit amet viverra quam elementum. Morbi tempus velit ligula, quis pellentesque mi posuere at. Nam cursus in purus sed gravida. Ut aliquet tellus in tempor faucibus. Mauris ac convallis velit. Suspendisse tincidunt pharetra eros eget pellentesque. Nunc sollicitudin pharetra massa.

Nam venenatis imperdiet massa in vulputate. Cras suscipit augue vel orci porttitor pellentesque. Integer tincidunt sapien sit amet nisi placerat, id tincidunt arcu accumsan. Curabitur ac libero leo. Donec porta sapien nec ante accumsan laoreet scelerisque et massa. Vivamus dignissim ipsum id ante aliquet ornare a sed tortor. Pellentesque vitae magna justo. Ut interdum semper lacus nec aliquam. Sed dictum sapien ut justo tempor, eu sollicitudin felis dictum. Nam quis feugiat risus. Donec eros ipsum, feugiat ac maximus a, elementum non nisl. Sed scelerisque nulla eget dolor imperdiet elementum. Duis ultrices lorem in nibh lacinia malesuada. In fringilla purus ac lectus varius, nec pulvinar eros suscipit. Donec iaculis nunc eget lorem efficitur, viverra maximus ligula scelerisque. Pellentesque sit amet auctor lectus.

Aenean volutpat diam id leo ultricies, et accumsan nisi finibus. Proin eu massa sapien. Nam facilisis ac purus at ultricies. Nam vestibulum ipsum pulvinar risus iaculis dictum. Praesent vel ligula nulla. Aenean a semper magna, id faucibus leo. Praesent mattis neque et vehicula euismod. Duis ultrices aliquet mi, a tempor odio consequat id. Vivamus auctor lobortis ante ac congue. Maecenas at maximus nibh. Proin eu posuere nunc, a sagittis dolor. Ut ut ex turpis. Mauris aliquet eu lorem et fringilla. Sed et orci dolor. Ut non neque accumsan, gravida dolor id, bibendum magna.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rhoncus facilisis urna ut tincidunt. Ut eu purus at massa tempus imperdiet eget vel dui. Cras imperdiet, lacus nec facilisis rhoncus, lectus erat scelerisque sapien, ut sollicitudin lectus leo vitae turpis. Nulla varius ligula tincidunt lectus aliquet pretium. Phasellus vitae egestas risus. Donec semper in metus eu sagittis. Aliquam accumsan ipsum ligula, a rhoncus lorem consequat sed. Phasellus lacus magna, vestibulum eu nibh sit amet, tincidunt convallis augue. Vestibulum sit amet turpis nec justo accumsan placerat. Suspendisse eget tempus sem. Fusce feugiat vulputate ultrices. Vivamus scelerisque pharetra eleifend. Nullam et lacus eu ante tristique tristique quis a orci. Pellentesque sed tristique erat. Mauris at odio aliquet, venenatis mauris ut, tristique metus.

Curabitur diam quam, suscipit sed risus nec, sollicitudin faucibus tellus. Suspendisse aliquet ullamcorper arcu, ac vulputate ipsum posuere id. Vivamus lobortis lacus egestas vestibulum pharetra. Nullam ut lacus non justo varius commodo vitae a neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam euismod eget tortor eget tempor. Nullam tempus turpis vitae massa fermentum efficitur. Praesent et orci urna. Nullam feugiat est vel ipsum convallis, eu luctus urna lacinia. Maecenas quis velit at enim ultrices ultricies at eget magna. Donec tincidunt ac arcu sit amet eleifend.

Ut pretium pretium venenatis. Fusce eu sollicitudin leo. Proin tristique lacinia imperdiet. Cras eget pellentesque ante. Nullam aliquet lorem euismod diam luctus, condimentum efficitur eros finibus. Cras euismod gravida urna, et malesuada nisi vehicula id. Vestibulum massa lectus, pulvinar eu congue ut, volutpat sit amet justo. Nam pretium diam tortor, a venenatis sapien mattis quis. Nulla facilisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris quis sem rhoncus, vehicula nulla ac, dapibus felis. Suspendisse vel dapibus velit.

Vivamus accumsan, purus ut maximus bibendum, odio ipsum vestibulum nisl, id sodales mauris erat in ex. Maecenas vel dignissim arcu, vel semper dui. Phasellus a sem in elit aliquam pellentesque id nec nulla. Etiam lobortis ac leo ac porttitor. Suspendisse tellus justo, rutrum tristique sollicitudin vel, imperdiet vitae metus. Etiam ornare turpis non dapibus efficitur. Nulla mattis libero sed est suscipit convallis.

Sed vehicula elit vitae pellentesque mollis. Maecenas sem erat, laoreet sit amet ornare non, rhoncus eget erat. Donec id purus venenatis elit hendrerit sollicitudin et quis quam. Pellentesque consequat purus eget magna porta, quis commodo libero lobortis. Quisque id vehicula nisi. Mauris dapibus lobortis lacinia. Proin non dignissim tellus. Suspendisse potenti. Suspendisse accumsan tincidunt maximus. Suspendisse consectetur lorem in enim venenatis, a luctus sem rutrum. Sed vestibulum, dui quis mattis feugiat, ex tortor dignissim nunc, ac semper tellus mauris eu turpis. Fusce dolor quam, fringilla eu blandit nec, fringilla vitae tellus.

Ut augue purus, suscipit sed purus sed, mattis sollicitudin lacus. In sed semper nibh. Nulla sit amet risus lobortis, sodales elit at, molestie tellus. Donec mi enim, semper sit amet faucibus et, sodales quis dui. Integer maximus dui non tristique faucibus. Cras sem massa, tempor et elit quis, eleifend ullamcorper augue. Maecenas varius vulputate arcu, ut viverra ligula congue eu. Curabitur est augue, placerat ac molestie ut, suscipit nec velit. Nunc sodales pharetra dolor vitae ultricies. Pellentesque volutpat orci ut mattis tempor.

Vivamus dapibus congue tortor, nec suscipit purus commodo eget. Vestibulum nibh lacus, venenatis at pretium euismod, pulvinar vel leo. Fusce eu neque in ipsum ultricies sagittis. Ut eu orci volutpat, auctor lorem vel, aliquet metus. Integer eu tristique sem. Donec ac massa fringilla, porta purus quis, rhoncus erat. Proin eget gravida lectus, et mollis turpis. Nunc ultrices orci neque, et ultricies est pulvinar facilisis. Phasellus id enim orci. Vivamus maximus urna vel tempus porta. Integer nunc nisi, convallis nec libero nec, sollicitudin bibendum ligula. Donec sollicitudin pharetra ex, id placerat est faucibus at.
</p>

<%# <div class="logo"></div>

<div class="banner">
  <h1>Welcome to Le Wagon!</h1>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div> %>